body{
    margin: 0;
    padding: 0;
    text-align: center;
}





.container
{
    background-color:palevioletred;
    color:aquamarine;
    width: 100vw;
    height:100vh ;
}
h1{
    font-size:3em;
}
button{
    height:60px;
    width:130px;
    background-color: orange;
    margin: 30px;
    font-size: 3em;
    color: rebeccapurple;
    

}
img{
    height: 400px;
    width:  350px;
}

button:hover{
    cursor:pointer;
    background-color: aqua;
    color: darkgoldenrod;
}